.user-login {
  width: 400px;
  margin: 0 auto;
}

.user-login__title {
  font-size: 40px;
  
  margin-bottom: 50px;
  text-align: center;
}

.user-login__form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user-login__form-control label {
  margin-bottom: 5px;
  font-size: 16px;
}

.user-login__form-control input {
  border-radius: 4px;
  border: 1px solid #BBBBBB;
  height: 36px;
  padding: 5px 10px;
}

.user-login__form-control input:focus {
  outline: 0;

}

.user-login__submit-button {
  width: 100%;
  margin-top: 30px;
}

.user-login__error {
  color: red;
}
